@import url("https://fonts.googleapis.com/css?family=Cookie|Roboto&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth; }

a {
  color: aliceblue; }

p {
  margin: 0; }

.btn {
  width: 150px;
  color: #C69963;
  background: #101D2C; }
  .btn:hover {
    background: #C69963;
    color: #101D2C; }

section {
  padding: 6rem 0; }

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.8)), to(rgba(16, 29, 44, 0.95))), url("../images/header-bg.jpg") center no-repeat/cover;
  background: -webkit-linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.95)), url("../images/header-bg.jpg") center no-repeat/cover;
  background: -o-linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.95)), url("../images/header-bg.jpg") center no-repeat/cover;
  background: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.95)), url("../images/header-bg.jpg") center no-repeat/cover; }
  header .brand-logo {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 4%;
    left: 6%;
    -webkit-transition: opacity 650ms;
    -o-transition: opacity 650ms;
    transition: opacity 650ms; }
    header .brand-logo:hover {
      opacity: 0.8; }

.hamburger-menu {
  position: fixed;
  top: 6%;
  right: 6%;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #101D2C;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999; }
  .hamburger-menu i {
    font-size: 30px;
    color: rgba(198, 153, 99, 0.7);
    margin: auto; }
  .hamburger-menu .fa-times {
    display: none; }
  .hamburger-menu .fa-times.open {
    display: block; }
  .hamburger-menu .fa-align-right.open {
    display: none; }

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: #101D2C;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .nav-list a {
    margin: 30px 0;
    -webkit-transition: all 650ms;
    -o-transition: all 650ms;
    transition: all 650ms;
    text-transform: uppercase; }
    .nav-list a:hover {
      letter-spacing: 2px;
      color: #C69963; }

.nav-list.open {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  text-align: center; }
  .hero-text h1 {
    font-family: "Cookie", cursive;
    color: #C69963; }
  .hero-text .btn {
    padding: 5px 0;
    border: 1px solid #C69963;
    position: relative;
    overflow: hidden;
    color: white; }
    .hero-text .btn::before {
      content: " ";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(330deg, transparent, rgba(255, 255, 255, 0.3), transparent);
      background: -o-linear-gradient(330deg, transparent, rgba(255, 255, 255, 0.3), transparent);
      background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
      -webkit-transition: all 650ms;
      -o-transition: all 650ms;
      transition: all 650ms; }
    .hero-text .btn:hover::before {
      left: 100%; }

/*======================== ABOUT ======================*/
.section-heading h4 {
  text-transform: uppercase;
  color: #101D2C;
  line-height: 0;
  font-weight: 300;
  letter-spacing: 1px; }

.section-heading h1 {
  font-family: "Cookie", cursive;
  color: #C69963; }

/*======================== INFO ======================*/
.info {
  background-color: #101D2C; }
  .info .shop-info i {
    font-size: 45px;
    color: #C69963; }
  .info .shop-info h1 {
    font-family: "Cookie", cursive;
    font-size: 30px;
    font-weight: 300; }
  .info address,
  .info p {
    color: rgba(255, 255, 255, 0.5); }
  .info hr {
    border-top: 1px solid rgba(255, 255, 255, 0.05); }

/*======================== MENU ======================*/
#menu {
  background-color: #101D2C; }
  #menu h1 {
    color: #C69963;
    font-family: "Cookie", cursive; }

.point-right, .point-left {
  position: relative;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.point-right::before,
.point-left::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: inherit;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  z-index: 1; }

.menu-item-description {
  padding: 50px 20px;
  color: #212529;
  margin: auto; }
  .menu-item-description h1 {
    color: #101D2C;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 300; }
  .menu-item-description h6 {
    color: #C69963;
    font-size: 20px; }

/*======================== THE TEAM ======================*/
#team h1 {
  color: #C69963;
  font-family: "Cookie", cursive; }

#team h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #101D2C; }

#team p {
  color: #101D2C; }

/*======================== CONTACT ======================*/
#contact {
  background-color: #101D2C;
  color: #C69963; }
  #contact h1 {
    font-family: "Cookie", cursive; }
  #contact h4 {
    font-size: 16px; }
  #contact form {
    max-width: 700px;
    width: 80%;
    margin: 0 auto; }
    #contact form input, #contact form select, #contact form textarea {
      border: 0; }
    #contact form button {
      border: 1px solid #C69963; }

/*======================== MEDIA QUERIES ======================*/
@media (min-width: 1200px) {
  .point-right::before,
  .point-left::before {
    top: 50%;
    left: initial;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    -ms-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg); }
  .point-left::before {
    left: -12px; }
  .point-right::before {
    right: -12px; }
  .menu-item-description p {
    display: none; } }

@media (min-width: 992px) {
  header > .container {
    padding: 0 15px; }
  .hamburger-menu {
    display: none; }
  nav {
    float: right; }
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    opacity: initial;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    -webkit-transition: initial;
    -o-transition: initial;
    transition: initial;
    margin: 0;
    padding: 0; }
  .nav-item {
    margin: 0 20px; }
    .nav-item:last-child {
      margin-right: 6rem; }
  .nav-link {
    position: relative; }
    .nav-link::before {
      content: "";
      position: absolute;
      left: 0;
      background-color: #C69963;
      bottom: -5px;
      width: 100%;
      height: 2px;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition: -webkit-transform 650ms;
      transition: -webkit-transform 650ms;
      -o-transition: transform 650ms;
      transition: transform 650ms;
      transition: transform 650ms, -webkit-transform 650ms; }
    .nav-link:hover::before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); } }

@media (max-width: 768px) {
  .point-right::before,
  .point-left::before {
    display: none; } }
