@import url('https://fonts.googleapis.com/css?family=Cookie|Roboto&display=swap');

$cursive-font: 'Cookie', cursive;
$main-font: 'Roboto', sans-serif;
$blue: #101D2C;
$dark-blue: #212529;
$brown: #C69963;


html, body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    scroll-behavior: smooth;
}

a {
    color: aliceblue;
}
p {
    margin: 0;
}

.btn {
    width: 150px;
    color: $brown;
    background: $blue;
    
    &:hover {
        background: $brown;
        color: $blue;
    }
}

section {
    padding: 6rem 0;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.95)),
                url("../images/header-bg.jpg") center no-repeat / cover;
    
    .brand-logo {
        position: absolute;
        width: 100%;
        max-width: 100px;
        top: 4%;
        left: 6%;
        transition: opacity 650ms;
        
        &:hover {
            opacity: 0.8;
        }
    }
}

.hamburger-menu {
    position: fixed;
    top: 6%;
    right: 6%;
    width: 70px;
    height: 70px;
    display: flex;
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    
    i {
        font-size: 30px;
        color: rgba(198, 153, 99, 0.7);
        margin: auto;
    }
    .fa-times {
        display: none;
    }
    .fa-times.open {
        display: block;
    }
    .fa-align-right.open {
        display: none;
    }
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: $blue;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: all .5s;
    
    a {
        margin: 30px 0;
        transition: all 650ms;
        text-transform: uppercase;
        
        &:hover {
            letter-spacing: 2px;
            color: $brown;
        }
    }
}
.nav-list.open {
    opacity: 1;
    transform: scale(1);
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    
    h1 {
        font-family: $cursive-font;
        color: $brown;
    }
    .btn {
        padding: 5px 0;
        border: 1px solid $brown;
        position: relative;
        overflow: hidden;
        color: white;
        
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
            transition: all 650ms;
        }
        &:hover::before {
            left: 100%;
        }
    }
}

/*======================== ABOUT ======================*/
.section-heading h4 {
    text-transform: uppercase;
    color: $blue;
    line-height: 0;
    font-weight: 300;
    letter-spacing: 1px;
}
.section-heading h1 {
    font-family: $cursive-font;
    color: $brown;
}

/*======================== INFO ======================*/
.info {
    background-color: $blue;
    
    .shop-info i {
        font-size: 45px;
        color: $brown;
    }
    .shop-info h1 {
        font-family: $cursive-font;
        font-size: 30px;
        font-weight: 300;
    }
    address,
    p {
        color: rgba(255, 255, 255, 0.5);
    }
    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
}

/*======================== MENU ======================*/
#menu {
    background-color: $blue;
    
    h1 {
        color: $brown;
        font-family: $cursive-font;
    }
}
.point-right, .point-left {
    position: relative;
    background-color: #FFF;
    display: flex;
}

.point-right::before,
.point-left::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: inherit;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 1;
}

.menu-item-description {
    padding: 50px 20px;
    color: $dark-blue;
    margin: auto;
    
    h1 {
        color: $blue;
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    h6 {
        color: $brown;
        font-size: 20px;
    }
}


/*======================== THE TEAM ======================*/
#team {
    
    h1 {
        color: $brown;
        font-family: $cursive-font;
    }
    h6 {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $blue;
    }
    p {
        color: $blue;
    }
}

/*======================== CONTACT ======================*/
#contact {
    background-color: $blue;
    color: $brown;
    
    h1 {
        font-family: $cursive-font;
    }
    h4 {
        font-size: 16px;
    }
    
    form {
        max-width: 700px;
        width: 80%;
        margin: 0 auto;
        
        input, select, textarea {
            border: 0;
        }
        button {
            border: 1px solid $brown;
        }
    }
}

/*======================== MEDIA QUERIES ======================*/
@media(min-width: 1200px) {
    .point-right::before,
    .point-left::before {
        top: 50%;
        left: initial;
        transform: translate(0, -50%) rotate(45deg);
    }
    .point-left::before {
        left: -12px;
    }
    .point-right::before {
        right: -12px;
    }
    .menu-item-description p {
        display: none;
    }
}

@media(min-width: 992px) {
    header > .container {
        padding: 0 15px;
    }
    .hamburger-menu {
        display: none;
    }
    nav {
        float: right;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        flex-direction: row;
        opacity: initial;
        transform: initial;
        transition: initial;
        margin: 0;
        padding: 0;
    }
    .nav-item {
        margin: 0 20px;
        
        &:last-child {
            margin-right: 6rem;
        }
    }
    .nav-link {
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            background-color: $brown;
            bottom: -5px;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 650ms;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

@media(max-width: 768px) {
    .point-right::before,
    .point-left::before {
        display: none;
    }
}

@media(max-width: 576px) {}




